{
	"printWidth": 120,
	"requireConfig": false,
	"semi": false,
	"htmlWhitespaceSensitivity": "css",
	"bracketSameLine": true,
	"jsxSingleQuote": true,
	"singleQuote": true,
	"quoteProps": "consistent",
	"trailingComma": "all",
	"useTabs": true,
	"tabWidth": 2,
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "crlf",
	"vueIndentScriptAndStyle": false
}
